.calendar-icon {
  content: url('../../assets/Icons/calendar-icon.svg');
}
.user-icon {
  content: url('../../assets/Icons/user-icon.svg');
}
.comment-icon {
  content: url('../../assets/Icons/comment-icon.svg');
}
.linked-in-icon {
  content: url('../../assets/Icons/linked-in-icon.svg');
}
.cross-icon {
  content: url('../../assets/Icons/cross-icon.svg');
}
.home-icon {
  content: url('../../assets/Icons/home-icon.svg');
}
.i-btn-icon {
  content: url('../../assets/Icons/i-btn-icon.svg');
  height: 16px;
  width: 16px;
}
.next-icon {
  content: url('../../assets/Icons/next-icon.svg');
}
.checkbox-checked {
  content: url('../../assets/Icons/checkbox-checked.png');
  height: 18px;
  width: 18px;
}
.checkbox {
  content: url('../../assets/Icons/checkbox.svg');
  height: 18px;
  width: 18px;
}
.person-icon {
  content: url('../../assets/Icons/person-icon.svg');
}
.dashboard-icon {
  content: url('../../assets/Icons/dashboard-icon.svg');
}
.hospital-icon {
  content: url('../../assets/Icons/hospital-icon.svg');
}
.test-icon {
  content: url('../../assets/Icons/test-icon.svg');
}
.arrow-forward-icon {
  content: url('../../assets/Icons/arrow-forward-icon.svg');
}
.add-circle-outline {
  content: url('../../assets/Icons/add_circle_outline.svg');
}
.chat-icon {
  content: url('../../assets/Icons/chat_icon.svg');
}
.more-option-icon {
  content: url('../../assets/Icons/more-option-icon.svg');
}
