.privacy-policy-section {
  padding-top: 20px;
  .section-content-wrapper {
    width: 90%;
    margin: auto;
    text-align: justify;
  }
  ol {
    padding-left: 20px;
  }
  li {
    margin-bottom: 8px;
  }
  h4 {
    padding-top: 20px;
  }
}
