.book-demo-modal {
  .form-group {
    margin-bottom: 25px;
  }
  .cross-icon {
    margin-top: 3px;
    margin-left: 1px;
  }

  .book-demo-btn {
    padding: 8px 27px !important;
    @media (min-width: 768px) {
      padding: 5px 27px !important;
    }
  }

  .modal-header {
    position: relative;
    padding: 35px 52px !important;
    border-bottom: none;
    .black-heading {
      text-transform: unset;
    }
    .close-modal-btn {
      position: absolute;
      top: -17px;
      right: -16px;
    }
  }
  .modal-body {
    padding: 0 40px !important;
    border-bottom: none;
  }
}
