.password-validation {
  color: $input-color;
  font-size: 14px;
  ul {
    list-style-type: none;
    font-size: 12px;
  }
  .validation-icon {
    width: 18px;
    opacity: 0;
  }
  .validated {
    .validation-text {
      color: $green;
      font-weight: 600;
    }
    .validation-icon {
      opacity: 1;
    }
  }
}
