.list-container {
  background: $white;
  width: 100%;
  height: 100%;
  .next-arrow {
    cursor: pointer;
    margin-left: 3px;
    padding: 5px 3px;
    margin-bottom: 1px;
    svg {
      width: 20px;
      height: 30px;
      transform: rotate(-90deg);
    }
  }
  @media (max-width: 768px) {
    .search-input-wrapper {
      margin: 10px 0 15px;
    }
  }
  .filter {
    color: $primary-gray;
  }
}
